{
  "swagger": "2.0",
  "info": {
    "title": "Twilio Addresses API",
    "description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
    "termsOfService": "https://www.twilio.com/legal/tos",
    "version": "2010-04-01"
  },
  "host": "api.twilio.com",
  "basePath": "/Accounts/{AccountSid}/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Addresses/{AddressSid}": {
      "get": {
        "summary": "Get Address",
        "description": "",
        "operationId": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Addresses"
        ],
        "security": []
      }
    },
    "/Address": {
      "get": {
        "summary": "Get Address",
        "description": "",
        "operationId": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Addresses"
        ],
        "security": []
      }
    },
    "/Addresses/{AddressSid}/DependentPhoneNumbers": {
      "get": {
        "summary": "Get Address",
        "description": "",
        "operationId": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Addresses"
        ],
        "security": []
      }
    }
  },
  "definitions": []
}